body{
    height: 100%;
    margin: 0;
}

.bg {
    position: absolute;

    background-image: url("images/desktop.png");
    background-color: grey;
    height: 97.07vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /*height: 100%; 
  
    background-repeat: no-repeat;
    background-size: contain;*/
}

.window{
    background-image: url("images/window.png");
    position: relative;
    margin: auto;

    top: 47%;
    transform: translateY(-50%);

    width: 75vw;
    height:56.25vw;
    max-height: 750px;
    max-width: 1000px;

    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center; */
}

#txt{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.box1{
    padding: auto;
    background-image: url('images2/morning.jpg');
    background-size: cover;
    background-position-y: 73%;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}
#QA{
    border: 4px solid #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}
#q{
    font-size: 160%;
}
#a{
    text-align: right;
    font-size: 140%;
}
#link{
    padding-left: 74%;
    font-size: 140%;
}


.fun{
    font-family: Comic Sans MS;
    animation: anim 10s infinite;
}

@keyframes anim {
    0% {
        color: #ff0000;
    }
    25% {
        color: #fbff00;
    }
    50% {
        color: #00ff04;
    }
    75% {
        color: #3700ff;
    }
    100% {
        color: #ff0000;
    }
  }

.webpage{
    position: relative;
    top: 19.7%;
    width: 96%;
    height: 75.5%;
    margin-left: 0.76%;
    
    background-color: black;
    background-size: cover;
    overflow: scroll;
}

.webpage p{
    margin: 0;
    font-size: calc(6px + 1vw);
    color: white;
}

.hov{
    color: white;
}

.hov:hover:after{
    content: "the password is 'password'";
    color: yellow;
}

#taskbar{
    position: relative;
    top:100%;
    background-image: url("images/test.png");
    background-size: cover;

    height:3%;
}

#window{
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding:3%;
}

:invalid + [for="txtName"]{
    display: none;
}
:valid + [for="txtName"]{
    opacity: 1;
}

#s {
    width: 40%;
}


#left{
    position: absolute;
    top: 42vh;
    left: -0.95vw;

    background-image: url('webring/pavv.png');
    background-size: cover;

    width: 12vw;
    height:12vw;
}

#left:hover{
    background-image: url('webring/pavvh.png');
}

#right{
    position: absolute;
    top: 57vh;
    right: 5vw;

    background-image: url('webring/candice.png');
    background-size: cover;

    width: 7vw;
    height:10vw;
}
#right:hover{
    background-image: url('webring/flowerlow.png');
}